telethon
Pillow>=5.3.0
PyGithub
aiofiles
aiohttp
aria2p
async_generator
beautifulsoup4
bs4
bwb==3.0.0
cfscrape
coffeehouse
cowpy
cryptg
dnspython
dotenv
emoji
forbiddenfruit
hachoir
heroku3
httplib2
humanize
lxml
oauth2client
psycopg2
psycopg2-binary
pySmartDL
pybase64>=0.4.0
pyfiglet
pylast
pymongo
python-barcode
python-dotenv
python-magic
pytube
pytz
